<% content_for :header_tags do%>
  <%= stylesheet_link_tag('issue_history_tabs.css', :plugin => :redmine_issue_history_tabs) %>
  <%= javascript_include_tag('issue-history-tabs.js', :plugin => :redmine_issue_history_tabs) %>
<%end%>

<% reply_links = authorize_for('issues', 'edit') -%>
<% tabs = [
	{:label => :label_history_tab_all, :name => 'history_all'}, 
	{:label => :label_history_tab_comments, :name => 'history_comments'},
	] %> 
<% selected_tab = params[:tab] ? params[:tab].to_s : 'history_comments' %> 

<div id="history_tabs" class="tabs">
<ul>
<% tabs.each do |tab| -%>
    <li><%= link_to l(tab[:label]), { :tab => tab[:name] },
                                    :id => "tab-#{tab[:name]}",
                                    :class => (tab[:name] != selected_tab ? nil : 'selected')%></li>
<% end -%>
</ul>
</div>